.wrapperChat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .chatHeader {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;

    .chatHeaderLeft {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .chatHeaderRight {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  .chatContent {
    display: flex;
    flex: 1 1 auto;
    height: 0;
    overflow-y: auto;
    flex-direction: column-reverse;
    width: 100%;
    padding: 10px;

    .messageReply {
      position: relative;

      &.isOwner {
        &::after {
          background: #808080;
        }
      }
      
      &::after {
        content: "";
        width: 3px;
        top: 0;
        left: -8px;
        height: 100%;
        background: white;
        border-radius: 100px;
        position: absolute;
      }
    }
  }

  .chatFooter {
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .chatMessage {

    &:hover {
      .chatActions {
        @apply visible opacity-100 transition-all duration-300;
      }
    }

    .chatActions {
      @apply invisible opacity-0 transition-all duration-300;
    }
  }
}

.item {
  @apply w-full flex items-center gap-2.5 justify-between hover:bg-slate-200 p-3 transition-all duration-150 rounded;
}