.root {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;

  .modal {
    @apply max-w-[80%] xl:max-w-[50%] w-full h-fit p-5 bottom-5 rounded-lg;

    .header {
      @apply flex items-center justify-between mb-5;
      .title {
        @apply text-lg font-semibold;
      }
    }

    .content {
      @apply grid md:grid-cols-2 grid-cols-1 gap-5 relative;

      &::after {
        content: '';
        @apply absolute h-full w-[1px] md:block hidden bg-via-300 left-1/2 -translate-x-1/2;
      }

      .contentItem {
        @apply flex items-center justify-between;
      }
    }
  }
}