.bg-opacity {
  background: rgba(0, 0, 0, 0.5);
}

.loader {
  width: 100px;
  height: 75px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  border-radius: 100%;
}

.loader:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  border: 15px solid transparent;
  border-top: 25px solid #fff;
  transform: rotate(45deg);
  top: 50px;
  left: -15px;
}

.loader:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #7269EF;
  box-shadow: 20px 0 #7269EF, -20px 0 #7269EF;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(114, 105, 239, 0.25);
    box-shadow: 20px 0 rgba(114, 105, 239, 0.25), -20px 0 #7269EF;
  }
  50% {
    background-color: #7269EF;
    box-shadow: 20px 0 rgba(114, 105, 239, 0.25), -20px 0 rgba(114, 105, 239, 0.25);
  }
  100% {
    background-color: rgba(114, 105, 239, 0.25);
    box-shadow: 20px 0 #7269EF, -20px 0 rgba(114, 105, 239, 0.25);
  }
}