body {
  font-family: 'Inter', sans-serif;
}

html, body {
  scroll-behavior: smooth
}

/*Ripple*/
.ripple {
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
}

html.dark {
  background: rgba(0, 0, 0, 0.9);
}

html.dark .ripple {
  background: rgba(255, 255, 255, 0.5);
}

.animate-ripple {
  animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
  z-index: 1000;
}

@keyframes ripple-mo {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.modal.modal-override {
  width: 100%;
  height: 100%;
  display: none;

  &.active {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    pointer-events: auto;
    cursor: default;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.modal-backdrop {
  z-index: -1;
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  align-self: stretch;
  justify-self: stretch;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scrollbar {
  &::-webkit-scrollbar {
    height: 8px;
  }

  /* width */
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #D1D6DB;
    }
  }
}

.select-custom {
  padding: 6px 0;

  .select__menu {
    @apply dark:bg-[#36404A];
  }
}

.btn-custom {
  @apply bg-primary text-light w-full py-2 rounded-md mt-5 hover:opacity-95 disabled:opacity-50;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1D6DB;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D1D6DB;
}

.dropdown-custom {
  position: relative;

  .dropdown-list {
    background: white;
    padding: 10px;
    width: 500%;
    max-width: 400px;
    position: absolute;
    bottom: 0;
    left: 100%;
    @apply shadow-lg rounded-lg;

    li {
      @apply flex items-center gap-2.5;
    }
  }
}

.ck-custom {
  @apply w-full;

  .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    @apply rounded-lg;
  }

  .ck .ck-content {
    max-height: 200px;
  }

  .ck.ck-editor__main > .ck-editor__editable {
    @apply dark:bg-via-300;
  }

  &.editor__top--active {

    .ck-editor__top {
      @apply block;
    }

    .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
      @apply rounded-bl-sm rounded-br-sm rounded-tl-none rounded-tr-none;
    }
  }

  .ck-editor__top {
    @apply hidden;
  }

  .ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by {
    display: none !important;
  }

  .ck-file-dialog-button {
    display: none;
  }
}

.ck-body-wrapper {
  display: none;
}

.un-reset {
  html {
    box-sizing: content-box;
  }

  body {
    margin: 8px;
    line-height: normal;
  }

  q {
    quotes: '“' '”' '‘' '’';

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  hr {
    border: 1px inset;
    box-sizing: border-box;
    margin: 0.5em auto;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
  }

  h5 {
    font-size: 0.83em;
    font-weight: bold;
  }

  h6 {
    font-size: 0.67em;
    font-weight: bold;
  }

  article,
  aside,
  nav,
  section {
    h1 {
      font-size: 1.5em;
      font-weight: bold;
    }

    article,
    aside,
    nav,
    section {
      h1 {
        font-size: 1.17em;
        font-weight: bold;
      }

      article,
      aside,
      nav,
      section {
        h1 {
          font-size: 1em;
          font-weight: bold;
        }

        article,
        aside,
        nav,
        section {
          h1 {
            font-size: 0.83em;
            font-weight: bold;
          }

          article,
          aside,
          nav,
          section {
            h1 {
              font-size: 0.67em;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
  }

  thead,
  tbody,
  tfoot,
  tr {
    border-color: inherit;
    vertical-align: middle;
  }

  td,
  th {
    padding: 1px;
    vertical-align: inherit;
  }

  th {
    font-weight: bold;
  }

  caption {
    text-align: center;
  }

  ul,
  menu {
    list-style-type: disc;
    padding: 0 0 0 40px;
  }

  ol {
    list-style-type: decimal;
    padding: 0 0 0 40px;
  }

  ul,
  ol {
    ul {
      list-style-type: circle;
    }

    ul,
    ol {
      ul {
        list-style-type: square;
      }
    }
  }

  ul,
  ol,
  menu,
  dl {
    ul,
    ol,
    menu,
    dl {
      margin: 0;
    }
  }

  legend {
    padding: 0 2px;
  }

  fieldset {
    border: 2px groove ThreeDFace;
    margin: 0 2px;
    padding: 0 2px 3px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
  }

  ins {
    background-color: transparent;
    font-weight: inherit;
    text-decoration: underline;
  }

  b,
  strong {
    font-weight: bold;
  }

  i,
  cite,
  em,
  var,
  address,
  dfn {
    font-style: italic;
    font-weight: inherit;
  }

  abbr[title],
  dfn[title] {
    border-bottom: 0;
    cursor: default;
    font-weight: inherit;
  }

  tt,
  code,
  kbd,
  samp {
    font-family: monospace;
    font-weight: inherit;
  }

  pre {
    font-family: monospace;
    margin: 1em 0;
    white-space: pre;
  }

  mark {
    background-color: yellow;
    color: black;
    font-style: normal;
    font-weight: inherit;
  }

  big {
    font-size: larger;
    font-weight: inherit;
  }

  small {
    font-size: smaller;
    font-weight: inherit;
  }

  sub,
  sup {
    font-weight: inherit;
    line-height: inherit;
    position: static;
  }

  sub {
    font-size: smaller;
    bottom: 0;
    vertical-align: sub;
  }

  sup {
    font-size: smaller;
    top: 0;
    vertical-align: super;
  }

  ruby {
    > rt {
      font-size: 50%;
    }
  }

  iframe {
    border: 2px inset;
  }

  p {
    display: inline-block;
    word-break: break-all;
  }
}

.dropdown {
  .dropdown-content {
    li {
      a, label {
        padding: 0.5rem 1rem;
        text-align: left;
        @apply rounded-lg hover:bg-gray-300 dark:hover:text-black cursor-pointer font-semibold;
      }
    }
  }
}

.mp3 {
  @apply text-white;

  .text-caption {
    @apply text-[12px] text-[#FFFFFF80];
  }

  .item-hover {
    @apply hover:text-[#8b45ca];
  }

  .item-active {
    @apply text-[#8b45ca];
  }

  .color-opacity-ct {
    color: rgba(255, 255, 255, 0.5);
  }

  .bg-opacity-ct {
    background: rgba(255, 255, 255, 0.1);

    .bg-opacity-ct--active {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07);
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.active-soft {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.hidden-soft {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.scroll-lyric {
  max-height: 500px;
  overflow: hidden auto;
  position: relative;
  mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.8) 10%, #fff 25%, #fff 75%,
          rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0));

  &::-webkit-scrollbar {
    display: none;
  }

  .lyric-item {
    color: white;
    font-size: 35px;
    padding: 10px 0;
    font-weight: bold;
    letter-spacing: -1px;

    &.is-active {
      color: #ffed00;
    }

    &.is-over {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

@keyframes rotateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotateLoading {
  animation: rotateLoading 5s normal infinite linear;
  transition: animation 5s;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
  @apply tracking-wide;
}

.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}
